$primaryColor: #4c3195;
$secondaryColor: darken($primaryColor, 10);
$tertiaryColor: #e58216;
$textColor: #f6f5fa;

.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  width: 15%;
  height: 100%;
  z-index: 100;
  overflow: visible;
  transition: 0.5s ease;
  background: $primaryColor;

  &Collapsed {
    transform: translateX(-100%);
  }
}

.menuButton {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(98%);
  height: 10%;
  width: 2.3rem;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  border: none;
  padding: 0 10px;
  background-color: $secondaryColor;

  &:focus {
    outline: none;
  }

  .bar {
    position: relative;
    background-color: $textColor;
    width: 100%;
    height: 2px;
    transition: 0.5s ease;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .firstBarRotated {
    transform: rotate(130deg) translate(10px, -8px);
  }

  .secondBarRotated {
    opacity: 0;
  }

  .thirdBarRotated {
    transform: rotate(-130deg) translate(7px, 7px);
  }
}

.navLinksSection {
  display: flex;
  flex-direction: column;
  height: 90%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow: auto;

  background: linear-gradient(to left bottom, #5e2998 5%, $primaryColor 60%);
}

.navLink {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 0.6rem;
  color: $textColor;
  background-color: transparent;
  margin: 3px 0;
  min-height: 50px;

  &:hover {
    text-decoration: none;
    color: $textColor;
    background-color: $secondaryColor;
  }

  &Active {
    .navLinkLabel {
      font-weight: 700;
    }

    .navIcon {
      color: $tertiaryColor;
    }
  }

  &Content {
    position: relative;
  }

  &Label {
    margin-left: 60px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .navIcon {
    font-size: 1rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(50%, -50%);
  }
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $secondaryColor;
  margin-bottom: auto;
  height: 10%;

  &Text {
    text-align: center;
    font-size: 1rem;
    color: $textColor;
    margin: auto;
    font-weight: 700;

    &:hover {
      color: $textColor;
    }
  }

  &:hover {
    text-decoration: none;
  }
}
