.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 17%;
  position: fixed;
  z-index: 100;
  overflow: visible;
  background-color: red;
  height: 100%;
  transition: 0.5s ease;
  left: 0;

  &Collapsed {
    transform: translateX(-100%);
  }
}

.menuButton {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  height: 2rem;
  width: 2rem;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  border: none;
  padding: 0 10px;

  &:focus {
    outline: none;
  }

  .bar {
    position: relative;
    background-color: red;
    width: 100%;
    height: 2px;
    transition: 0.5s ease;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .firstBarRotated {
    transform: rotate(130deg) translate(10px, -8px);
  }

  .secondBarRotated {
    opacity: 0;
  }

  .thirdBarRotated {
    transform: rotate(-130deg) translate(7px, 7px);
  }
}

.navLinksSection {
  display: flex;
  flex-direction: column;
  height: 65%;
  background-color: blue;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow: auto;
}

.navLink {
  background-color: green;
  font-size: 1rem;
  margin: 5px 0;
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
    background-color: red;
  }

  &Active {
    background-color: yellow;

    &:hover {
      background-color: white;
    }

    .navIcon {
      color: crimson;
    }
  }
}

.navIcon {
  margin-right: 10px;
}
