.navLinksSection {
  display: flex;
  flex-direction: column;
  height: 94%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow: auto;

  background: linear-gradient(
    to left bottom,
    $primaryColorVariation 5%,
    $primaryColor 60%
  );
}
